.c1{
  background-color: honeydew;
  padding-top: 6vh;
  padding-bottom: 3vh;
}

.c2{
  background-color: white;
  padding-top: 6vh;
  padding-bottom: 3vh;
}

.icon-one{
  height: 64px;
  width: 64px;
}

.row-pad{
  padding-left: 3vw;
}